*.log
.DS_Store
node_modules
dist
# *report.zip

# IntelliJ Project Files
.idea
coverage/*

examples/signify-react-ts/.cache
/signify-ts-test/test/data/fail_reports/
/signify-ts-test/test/data/signed_reports/
/signify-ts-test/test/data/unknown_reports/
