*.log
.DS_Store
node_modules
dist
# *report.zip

# IntelliJ Project Files
.idea
coverage/*

examples/signify-react-ts/.cache
/signify-ts-test/test/data/fail_reports/
/signify-ts-test/test/data/signed_reports/
/signify-ts-test/test/data/unknown_reports/
/signify-ts-test/test/data/test_data/
/signify-ts-test/test/data/600-banks-test-data/
/signify-ts-test/test/data/tmp_reports/
/signify-ts-test/test/data/tmp_reports_unpacked/
/signify-ts-test/test/data/eba_reports/*
/signify-ts-test/bank_test_logs/
/images/
